* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    width: 20%;
    height: 20%;
    text-align: center;
    padding: 20px;
}


/* /common */

/* main */
main {
    width: 100%;      
    height: 90vh;
    background-color: black;
}

.main-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
}

.main-side #arrow-left {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#arrow-left i {
    font-size: 50px;
    color: darkgrey;
}

#arrow-left p {
    color: white;
}

#arrow-right i {
    font-size: 50px;
    color: #2EBAFF;
}

#arrow-right p {
    color: white;
}

.main-center {
    display: flex;
    padding: 40px 0;
    width: 95%;
    height: 100%;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

/* .main-box:last-child {
    border: 1px solid lightgreen;
} */


.card img {
    width: 60%;
    height: 100%;
}

.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.viewer-size {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.viewer-size button {
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(0deg, #202020, #393939);
    color: white;
}

/* /main */

/* footer */
footer {
    width: 100%;      
    height: 10vh;
    background-color: #212324;
}

.nav-side-l {
    float: left;
    width: 20%;
    height: 100%;
}

.nav-side-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    width: 10%;
    height: 100%;
    background: dimgray;
}

.nav-side-l div,
.nav-center div {
    display: inline-block;
    font-size: 20px;
    color: #DCDCDC;
    text-align: center;
    padding: 20px;
}

#ending {
    color: crimson;
}

#ending p {
    font-size: 20px;
    padding: 10px;
}

.nav-center {
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
}
/* /footer */


/* debug */
/* .debug main {
    background-color: black;
}

.debug footer {
    background-color: grey;
}

.debug .main-side {
    background-color: yellow;
}

.debug .main-center {
    background-color: red;
} */

/* .debug .viewer-size {
    background-color: red;
} */
/* /debug */

/* .debug .card {
    position: relative;
    width: 20%;
    height: 20%;
    border: 1px solid black;
    background: red;
} */

/* .debug .nav-side {
    float: left;
    width: 20%;
    height: 100%;
    background: greenyellow;
} */

.debug .nav-center {
    float: left;
    width: 60%;
    height: 100%;
    background: hotpink;
}